.app__form-header {
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
    margin-bottom: 0;
    padding-bottom: 0;
}

.app__form-form {
    margin-top: 0;
    padding-top: 0;
    background-color: blanchedalmond;
    color: rgb(77, 77, 77)
}